/* Index */
.pub_index {position: fixed; left: 50%; top: 0; z-index: 99; width: 250px; height: 100%; margin-left: 700px; padding: 110px 30px; box-sizing: border-box; border-left: 1px solid #21262d;}
.pub_index li {margin-bottom: 15px;}
.pub_index li:last-child {margin-bottom: 0;}
.pub_index li a {display: inline-block; padding: 0 5px 0 0; font-size: 15px; transition: .2s; cursor: pointer;}
.pub_index li.on a, .pub_index li:hover a {font-weight: 500; color: #58a6ff;}

@media all and (max-width: 1000px) {
    .pub_index {display: none;}
}