$fs-map-md: (
    --fs-100: 10px, //최소 크기
    --fs-200: 12px, //배지
    --fs-300: 13px, //기본 서브
    --fs-400: 14px, //기본 
    --fs-500: 17px, //타이틀S
    --fs-600: 19px, //타이틀M
    --fs-700: 24px,  //
    --fs-800: 31px, //타이틀L
    --fs-900: 60px, //특수용도
);
$fs-map-lg: (
    --fs-100: 12px,
    --fs-200: 14px,
    --fs-300: 16px,
    --fs-400: 17px,
    --fs-500: 20px,
    --fs-600: 24px,
    --fs-700: 24px,
    --fs-800: 31px,
    --fs-900: 60px,
);